* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-color: rgb(149, 149, 149);
}

header.header {
    background-color: rgb(199, 199, 199);
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo-container {
    background-color: rgb(86, 86, 86);
    width: 30%;
    height: 70%;
}

.menu-container {
    background-color: rgb(101, 101, 101);
    width: 5%;
    height: 70%;
}

.main-section {
    height: 80%;
    display: flex;
    align-items: center;
}

footer {
    background-color: rgb(199, 199, 199);
    height: 10%;
}

.content-left {
    width: 35%;
    height: 100%;
    background-color: rgb(79, 79, 79);
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-image-container {
    background-color: rgb(130, 240, 255);
    width: 80%;
    height: 25%;
    margin: 15px;
}

.profile-links-container {
    background-color: rgb(0, 225, 255);
    width: 80%;
    height: 60%;
    margin: 15px;

}

.content-mid {
    background-color: rgb(179, 179, 179);
    width: 50%;
    height: 70%;
    display: flex;
    margin-left: 5%;
    margin-bottom: 30px;
}

header.content-mid-header {
    background-color: black;
    height: 15%;
    width: 100%;
}

.content{
    display: flex;
    height: 80%;
    width: 100%;
    align-items: center;
    text-align: center;
    font-size: 13px;
}

p{
    margin-bottom: 50px;
}